

body{font-family: 'Roboto', sans-serif; }


.full-width-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    /*background-image: url(../images/bck.jpg);*/
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo{
    padding-top: 0px;
    padding-bottom: 0px;
        padding: 13px 0px 13px 0px;
}

.index h2{
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #f37022;
    margin-bottom: 20px;
    color: #013976 !important;
}

.index h4{
    color: #013976;
        font-size: 20px;
}

.index ol li{
    font-size: 18px;
    padding-bottom: 5px;
    color: #013976;
}

.tab-div{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.tab-div form{
    padding: 16px;
    background-color: rgb(243, 243, 243);
}

.tab-div label{
    font-weight: 400;
}

/*.nav-tabs>li{
    margin-bottom: -1px;
}*/


.li-log
{
    background-color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0px;
}
.nav-tabs>li>a{
     color: #000;
    background-color: #f3f3f3;
    border: 0px solid #fff;
    font-weight: 600;
        letter-spacing: 1px;
        border: 0px;
        margin: 0px;
        border-radius: 0px;
        text-transform: uppercase;
}

.nav-tabs>li>a:hover{
        color: #fff;
    background-color: #f37022;
    border: 0px solid #f37022;
    border-radius: 0px;
    font-weight: 600;;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 0px;
    border-radius: 0px;
    font-weight: 600;
    /*color: #333333;*/
        background-color: #ffa800;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-default {
       background-color: transparent;
    color: #ffffff;
    border:0px;
    width: 100px;
    margin-top: 10px;
    font-weight: 600;
}

.btn-lo
{
     background-color: #ffa800;
    color: #fff;
    width: 100%;
    padding: 12px;
    float: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:20px 0px 10px 0px !important;
    font-weight: 600;
}
.btn-default:hover {
       background-color: transparent;
       color:#ffa800 !important;
}

.btn{
    margin: 0px 20px;
    float: left;
}

#forgotpassword form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


.submit-blog label{
    color: #fff;
}

.submit-blog iframe{
    width: 600px;
    height: 400px;
}

.submit-blog form{
    text-align: center;
    margin-bottom: 40px;
}

.submit-blog input[type="text"]{
    width: 470px;
    height: 50px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.submit-blog input[type="submit"]{
    height: 30px;
}
.sub-fa
{
        width: 30px;
    height: 30px;
    background-color: #ffa800;
    border-radius: 15px;
    padding: 3px;
    margin: 10px;
    border: 2px solid #013976;
    color: #fff;
    font-size: 20px !important;
}


@media screen and (max-width: 767px){
body{

  background-image: url("../images/mobiler.png")!important;
  background-size: cover !important;
}
    .full-width-bg{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .tab-div{
        width: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    body > div.full-width-bg.index > div > div:nth-child(1) > div:nth-child(2){
        padding: 0px 0px !important;

    }
    img#bigimg1 {
        width: 100% !important;
        height: auto;
    }
    body > div.full-width-bg.index > div > div:nth-child(1) > div:nth-child(2){
        padding: 0px 0px !important;

    }
    img#bigimg1 {
        width: 100% !important;
        height: auto;
    }
    a.btn.btn-lo {
        width: 78% !important;
    }
    body > div.full-width-bg.index.submit-blog > div > div:nth-child(1) > div:nth-child(2) > h2 {
        text-align: center;
    }
    .submit-blog input[type="text"]{
        width: 208px !important;
    }
}

@media screen and (max-width: 450px){
    body > div.full-width-bg.index.submit-blog > div > div:nth-child(1) > div:nth-child(2) > h2 {
        text-align: center;
    }
    body > div.full-width-bg.index > div > div:nth-child(1) > div:nth-child(2){
        padding: 0px 0px !important;

    }
    a.btn.btn-lo {
        width: 78% !important;
    }
    img#bigimg1 {
        width: 100% !important;
        height: auto;
    }
    iframe.embed-responsive-item {
        width: 100% !important;
    }
    .submit-blog input[type="text"] {
        width: 224px !important;}

}
.blog_submit{
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.34);
    font-weight: bold;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.46);
}
.success > .modal-dialog{
    position: relative;z-index: 0;top: 170px;
}
.success > .modal-dialog > .modal-content > .modal-header > .close{
    position: relative;top: 10px;right: 10px;z-index: 1;width: 20px;background: #7dbaab;border-radius: 50%;
}
.success > .modal-dialog > .modal-content > .modal-header {
    min-height: 100px;padding: 0px;border-bottom: 1px solid transparent;
}
.success > .modal-dialog > .modal-content{
    width: 500px; display: block; margin: 0px auto;
}
.success > .modal-dialog > .modal-content > .modal-body{
    background:#7dbaab;text-align: center;font-size: 18px;color: #fff;font-family: 'Roboto', sans-serif
}
.success_icon .fa{
    color: #7dbaab;
}
.success_icon{
    font-size: 46px; display: block;margin: 0px auto;width: 50%; text-align: center;position: relative;top: 20px;
}



.error > .modal-dialog{
    position: relative;z-index: 0;top: 170px;
}
.error > .modal-dialog > .modal-content > .modal-header > .close{
    position: relative;top: 10px;right: 10px;z-index: 1;width: 20px;background: #e2747d;border-radius: 50%;
}
.error > .modal-dialog > .modal-content > .modal-header {
    min-height: 100px;padding: 0px;border-bottom: 1px solid transparent;
}
.error > .modal-dialog > .modal-content{
    width: 500px; display: block; margin: 0px auto;
}
.error > .modal-dialog > .modal-content > .modal-body{
    background:#e2747d;text-align: center;font-size: 18px;color: #fff;font-family: 'Roboto', sans-serif
}
.error_icon .fa{
    color: #e2747d;
}
.error_icon{
    font-size: 46px; display: block;margin: 0px auto;width: 50%; text-align: center;position: relative;top: 20px;
}


.wraning > .modal-dialog{
    position: relative;z-index: 0;top: 170px;
}
.wraning > .modal-dialog > .modal-content > .modal-header > .close{
    position: relative;top: 10px;right: 10px;z-index: 1;width: 20px;background: #e1be5a;border-radius: 50%;
}
.wraning > .modal-dialog > .modal-content > .modal-header {
    min-height: 100px;padding: 0px;border-bottom: 1px solid transparent;
}
.wraning > .modal-dialog > .modal-content{
    width: 500px; display: block; margin: 0px auto;
}
.wraning > .modal-dialog > .modal-content > .modal-body{
    background:#e1be5a;text-align: center;font-size: 18px;color: #fff;font-family: 'Roboto', sans-serif
}
.wraning_icon .fa{
    color: #e1be5a;
}
.wraning_icon{
    font-size: 46px; display: block;margin: 0px auto;width: 50%; text-align: center;position: relative;top: 20px;
}

@media screen and (max-width:1920px) and (min-width:1200px) {
    .logo {position: relative;left: 10%;}
}

/*Profile Page*/

.pr-fa
{
    color: #ffa800;
    font-size: 20px;
}
.pr-side1
{
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #364150;
}

.pr-side2-tabs
{
    height: 50px !important;
        /*background-color: #0e264e !important;*/
    padding-top: 6px;
}
.pr-side2-tab
{
    font-size: 10px;
    height: 50px !important;
}
.pr-side-a
{

        padding:10px;
        text-align: center;
        font-size: 1.3em !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
}

.pr-side-inp-la
{
    color: #9E9E9E;;
    font-size: 15px;
    font-weight: 600 !important;
}
.edit-input {
    display:none;
}
.pr-side-inp
{
    height: 50px;
    margin-bottom: 5px;
}
.pr-side-inp-f
{
    height: 50px;
   padding: 12px;
}
.text-info
{    border: 1px solid #c5c4c4;
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    color: grey !important;
}
.pr-side-inp-b
{
    width: 90%;
    height: 50px;
   margin-bottom: 5px;
}
.pr-side-lab-b
{
    display:flex;
    width: 100%;
    height: 50px;
   margin-bottom: 5px;
}

.pr-side-inp-fa
{
    color: grey !important;
    margin: 15px;
    font-size: 20px;
}

.t-nopad
{
    padding: 0px !important;

}
.t-pad-t30
{
    padding-top: 30px !important;

}
.pr-side-btn1
{
    margin: 0px;
    background-color: #1b3f7b;
    color: #fff;
    font-weight: 600;
}
.pr-side-btn2
{
    margin-left: 10px;
        background-color: #03A9F4;
    color: #fff;
    font-weight: 600;
}

.log-fa
{
    width: 30px;
    height: 30px;
    background-color: #ffa800;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    border: 2px solid #013976;
    color: #fff;
    font-size: 20px !important;
}
.btn-lo.focus, .btn-lo:focus, .btn-lo:hover
{
    color: #fff !important;
}
.f-alert
{
    color: #fff;
}
.bt-hm :hover {

    color: #333;

    border-color: #adadad;
    border: 0px;
}

.fnt-13
{
    font-size: 13px !important;
}
.fnt-14
{
    font-size: 15px !important;
}

.pr-card
{
    border-radius:15px !important;
}

.btn-default:active
{
    color: #333;
    background-color: transparent !important;
    box-shadow: none;
}
.btn-default:active:hover {
    background-color: transparent;

}
.btn-default:focus
{
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    border-color: #e81919;
    border: 1px solid #f8f8f8;
    outline: none !important;
}
.btn-default:hover
{
        border:0px;
}
/* End of Profile Page*/

/* List Page*/

.li-blg-tx
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dd6624;
    width: 10em;
}

.li-blg-tx a
{
    color: #337ab7 !important;
}

.li-blg-tx a :hover
{
    color: #dd6624 !important;
}


/* End of List Page*/
/*top menu*/
.tp-m
{
width:40%;
font-size:25px;
color: #ffa800;
}
/*.tp-mar20-20*/
/*{*/
    /*margin: 20px 20px;*/
/*}*/
.tp-mar20
{
    margin: 18px 20px;
}
.tp-a-hov a
{
    color:#ffa800 !important;
}
.tp-a-hov a:hover {
    text-decoration: none !important;
}
.pull-right.text-center {
    padding: 56px 133px 0px 11px;
}



/* ----------- iPhone 6 ----------- */



/* Portrait */
@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


    img.logo-default {
        width: 56% !important;
        padding: 7px 60px 0px 0px !important;
        margin-top: -21px !important;
    }
.fkword
    {
        width: 160px !important;
        height: auto  !important;
        float: left  !important;
        margin: 0px  !important;
        padding: 15px  !important;
    }
    .fkword1
    {
        width: 70px !important;
        height: auto;
        float: left;
        position: relative;
       // top: 40px;
        //left: 0px!important;
    }
    .fkword11
    {
        width: 70px !important;
        height: auto;
        float: left;
        position: relative;
        top: 40px;
        left: 90px !important;
    }
    .fkword2
    {
        padding: 0px !important;
    }
    .fkword3
    {
        padding: 20px !important;
    }
    body > div.full-width-bg.index.submit-blog > div > div:nth-child(2) > div {
        padding: 0px 33px !important;
    }
    body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) > div > button:nth-child(1) {
        width: 40%!important;
    }
    body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(2) > div > form {
        float: none !important;
    }
    img.logo-default.fkword {
        padding: 0px 52px 0px 0px!important;
    }
    /*.tp-mar20-20 {*/
        /*padding: 66px 3px 0px 0px !important;*/
    /*}*/
    /*img.logo-default {*/
        /*width: 196px !important;*/
    /*}*/
    button.btn.btn-default.uppercase {
        /*right: 44px !important;*/
    }
    .add-button.tp-mar20-20.tp-a-hov {
        display: inline;
        position: absolute;
        right: 0 !important;
        top: 0 !important;
    }
    button.btn.btn-default.uppercase {

        width: auto !important;
        margin: 0px !important;
        right: 0px !important;
        top: 0px !important;
    }
    .add-button {
        position: absolute !important;
        z-index: 0 !important;
        right: 0 !important;
    }
    .tp-mar20-20 {
        margin: 0px 0px !important;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .pull-right.text-center {
        padding: 0px 0px 0px 0px !important;
    }
    .pull-right {
        float: left!important;
    }
}
@media only screen and (min-device-width : 768px)and (max-device-width : 1024px) {
    img.logo-default.fkword {
        width: 196px !important;
    }
    .col-sm-6 {
        width: 100% !important;
    }
    a.btn.btn-lo.fkword3 {
        width: 61%!important;
        margin-left: 9% !important;
    }
    img.logo-default {
        width: 196px !important;
    }
}

.clearfix {
    background-color: #fff;
}
.tp-mar20-20 {
    margin: 20px 20px;
}
.page-footer-inner {
    text-align: center;
    color: #fff;
}

.row.sant {
background: #103157 !important;
}


/*abhishek code*/



@media only screen and (max-width: 460px) {

body > div.full-width-bg.index.submit-blog > div {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body > div.full-width-bg.index.submit-blog > div > div.col-md-12 {
    padding: 0;
    background: #103157 !important;
    margin: 0;
}

.row.sant {
    width: 100% !important;
}
body > div.full-width-bg.index.submit-blog > div > div.col-md-12 > div > div.col-md-2 {
    width: 50% !important;
    display: inline-block;
}
.pull-right.text-center {
    float: right !important;
    padding: 0px 4% 0px 0px;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) {
    padding: 0px !important;
    margin: 0px !important;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) > div {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(2) {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(2) > div > center > video {
    width: 100%;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(2) > img {
    margin: 0;
    padding-left: 0 !important;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) > div>button {
    width: 45%;
    font-size: 12px;
    display: inline-block;
}

/*LAyout page*/
body > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > a > img {
    width: 75% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m {
    width: 100% !important;
}
body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div {
    width: 100% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div> i, body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div> a {
    width: 10%;
    margin: 0 !important;
    padding: 0px;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div {
    width: 100% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m {
    width: 100% !important;
    padding-top:20%;
    background-color: transparent !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left {
    width: 55% !important;
    display: inline-block !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-right {
    width: 40% !important;
    display: inline-block;
}

body > div.page-header.navbar.navbar-fixed-top {
    height: 200px !important;
}

.topselecter >.nav-tabs>li>a {
    color: #fff;
}

.page-sidebar.navbar-collapse.collapse {
    display: block !important;
    background: transparent !important;
    color: #fff;
}

.page-sidebar-wrapper {
    background: transparent;
    height: 240px;
}


.topselecter >.nav-tabs>li>a {
    color: #fff;
}

.page-sidebar.navbar-collapse.collapse {
    display: block !important;
    background: transparent !important;
    color: #fff;
}

.page-sidebar-wrapper {
    background: transparent;
    height: 240px;
}

body > div.page-header.navbar.navbar-fixed-top > div > a {
    display: none !important;
}
body > div.page-container > div.page-sidebar-wrapper {
    //display: none;
}

body > div.page-container > div.page-content-wrapper > div > div.row > div > div.profile-content > div > div > div > div.portlet-title.tabbable-line > ul {
    height: 60px !important;
}
.page-sidebar .selected, .page-sidebar.navbar-collapse.collapse{
    display: block !important;
}
body > div.page-container > div.page-sidebar-wrapper > div{
    display: block !important;
}
.portlet>.portlet-title>.nav-tabs {

    height: 60px !important;
}
body > div.page-header.navbar.navbar-fixed-top > div > a {
    display: none !important;
}
}


@media only screen and (min-width : 461px) and (max-width :767px) {
body > div.page-header.navbar.navbar-fixed-top > div > a {
    display: none !important;
}
body > div.full-width-bg.index.submit-blog > div {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body > div.full-width-bg.index.submit-blog > div > div.col-md-12 {
    padding: 0;
    background: #103157 !important;
    margin: 0;
}

.row.sant {
    width: 100% !important;
}
body > div.full-width-bg.index.submit-blog > div > div.col-md-12 > div > div.col-md-2 {
    width: 50% !important;
    display: inline-block;
}
.pull-right.text-center {
    float: right !important;
    padding: 0px 4% 0px 0px;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) {
    padding: 0px !important;
    margin: 0px !important;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(1) > div {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(2) {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

body > div.full-width-bg.index.submit-blog > div > div:nth-child(3) > div:nth-child(2) > div > center > video {
    width: 100%;
}

body > div.full-width-bg.index.submit-blog > div > div:nth-child(2) > img {
    margin: 0;
    padding-left: 0 !important;
}
/*LAYOUT*/

body > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > a > img {
    width: 75% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m {
    width: 100% !important;
}
body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div {
    width: 100% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div> i, body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div> a {
    width: 10%;
    margin: 0 !important;
    padding: 0px;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left > div {
    width: 100% !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m {
    width: 100% !important;
    padding-top: 13%;
    background-color: transparent !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-left {
    width: 55% !important;
    display: inline-block !important;
}

body > div.page-header.navbar.navbar-fixed-top > div > div.top-menu.tp-m > div.pull-right {
    width: 40% !important;
    display: inline-block;
}

body > div.page-header.navbar.navbar-fixed-top {
    height: 180px !important;
}

}

@media (max-width: 991px){
   .page-sidebar .selected, .page-sidebar.navbar-collapse.collapse {
    display: block !important;
}

}





.page-container-bg-solid .page-bar .page-breadcrumb, .page-content-white .page-bar .page-breadcrumb {
padding: 39px 0 !important;
}

/* BLOG START CSS */
.full_width_bg {
    width: 100%; height: auto;position: fixed;
    top: 0;left: 0;z-index: 1;
    /* background-image: url(../images/bck.jpg); */
    background-color: #ffffff;background-repeat: no-repeat;
    background-position: center center;-webkit-background-size: cover;
    -moz-background-size: cover;-o-background-size: cover;
    background-size: cover;
}
.opt-bg{
    background: rgba(16,49,87,0.5);float: left;width: 100%;
}
.blog-section {
    float: left; width: 100%; background: url(../images/blogbg.jpg);
    height: auto;margin-top: 120px;position: relative;
    z-index: 0;
}
.blog-section form{
    text-align: center;margin-bottom: 40px;
}
.blog-section #blog_url{
    width: 470px;
    height: 50px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.35);
}
.crusader-section {
    float: left;width: 100%;margin-bottom: 30px;
    padding-left: 30px; margin-top: 30px;
}
.crusader-section h3{
    /*color: #000;*/ color: #fff; font-size: 34px;/*width: 330px;*/
    padding-left: 10px;text-align: center;
    font-weight: bold;text-transform: uppercase;
    text-shadow: 3px 3px 15px #504545;
}
.num-txt-section {
    float: left;width: 100%;height: auto;
}
.num-txt-section span{
    /*color: #103157;*/ color: #ff4747; padding-left: 10px;float: left;
    width: 100%;font-size: 18px;text-transform: capitalize;
    font-weight: bold;
}
.numder-section {
    float: left;width: 31%;padding: 10px 0px;
    color: #fff;/*color: #000;*/
    font-weight: 500;
}
.numder-section img {
    width: 58px;float: left;margin-right: 20px;
    padding: 5px 0px;
}
.videosection video{
    background: rgba(255,255,255,0.8);border: 1px solid #ccc;
}
.boder-none{
    border-right: none !important;
}
.numder-section p{
    float: left;width: 300px;font-size: 15px;
    border-right: 2px solid #fff;padding-bottom: 15px;margin-bottom: 0px;
    padding-right: 10px;
}
.form-section{
    float: left; width: 100%;height: auto;
}
.form-section form{
    /*background: rgba(168, 162, 162, 0.7);*/padding: 40px 40px;
    border: 1px solid #CCC;
}
.txt-submit{
    margin-top: 0px;font-size: 28px;/*color: #000;*/ color: #fff;
    text-transform: uppercase;font-weight: 600;
    text-shadow: 3px 3px 15px #6f6f6f;
}
.select-dropleft{
    padding-left: 0px;
}
.select-dropright{
    padding-right: 0px;
}
.form-section form input.form-control {
    height: 40px;
}
#submit-form{
    background-color: #1b3f7b;
    border-radius: 0px;
    padding: 9px 30px;
}
.form-section #blog_url{
  width: 100%; height: 40px;
}
/* BLOG START CSS */