<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Big Bazaar</title>

    <!-- Bootstrap -->
    <link href="../stylesheet/bootstrap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>

    <link href="../stylesheet/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../images/favicon.ico" /> 
  </head>
  <body>
    
    <div class="full-width-bg submit-blog">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="#" target="_blank">
              <img src="../images/logo.png" class="logo">
            </a>
            <div class="pull-right">
              <div class="add-button" style="margin-top: 4px;">
                  <button onclick="logout()" type="button"  class="btn btn-default" style="background: transparent; border: transparent;color: #fff;"><i class="fa fa-lock" style="border-radius: 50%;padding: 4px 7px;background: #000;border: 2px solid #fff;"></i>&nbsp;&nbsp;SIGN OUT</button>
              </div> 
          </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3">
          </div>

          <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E9am3ySQoJ0"></iframe>
            </div>
          </div>

          <div class="col-sm-3">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
          </div>

          <div class="col-sm-6">
            <form method="POST" action="/users/blogPost">
              <!-- <div class="form-group"> -->
                <label for="exampleInputEmail1">Enter URL:</label>
                <input type="text" name="blog_url" class="" id="" placeholder="" style="">
              <!-- </div> -->
              <input type="submit" name="submit" class="blog_submit">
            </form>
          </div>

          <div class="col-sm-3">
          </div>
        </div>

      </div>
    </div>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="success_icon"><i class="fa fa-check-circle"></i></span>
        </div>
        <div class="modal-body">
          <p>Thanks for your Submission</p>
        </div>
      </div>
    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function logout(){
         $.get( "/users/logout", { })
                  .done(function( data ) {
                    window.location = "/users/login"
                  });
      }
    </script>
  </body>
</html>