<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Big Bazaar</title>

  <!-- Bootstrap -->
  <link href="../stylesheet/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheet/layout.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>

  <link href="../stylesheet/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <style>
      .ontop {
        height: auto;
        z-index: 1;
        top: 3px;
        float: right;
        right: 2px;
        opacity: 1;
        color: #fff;
        padding: 20px 15px;
        font-size: 16px;
        display: none;
        position: absolute;
        background-color: red
      }
      .ontopSucess {
        height: auto;
        z-index: 1;
        top: 3px;
        float: right;
        right: 2px;
        opacity: 1;
        color: #fff;
        padding: 20px 15px;
        font-size: 16px;
        display: none;
        position: absolute;
        background-color: green
      }
      #popup {
        width: 300px;
        height: 200px;
        position: absolute;
        color: #000000;
        background-color: #ffffff;
        /* To align popup window at the center of screen*/
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
      }
    </style>
    <script type="text/javascript">
      function pop(div) {
        document.getElementById(div).style.display = 'block';
      }
      function hide(div) {
        document.getElementById(div).style.display = 'none';
      }
      //To detect escape button
      document.onkeydown = function(evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
          hide('popDiv');
        }
      };
    </script>
</head>

<body>

  <div class="full-width-bg index submit-blog ">


    <div class="row" style="margin-top:30px">
        <div class="col-md-12">
            <div class="row">
                <div class=" col-md-2">
                    <a href="/users/home" target="_blank">
                        <img src="../images/Logo1.png"  class="logo fkword" style="width: 200px;height:auto;float: left; margin-top: -40px; padding: 13px;">
                    </a>
                </div>

                <div class=" pull-right text-center">

                    <img src="../images/fbicon.png" class="fkword11"  style="width: 100px;height:auto;float: left;  ">

                </div>
            </div>


        </div>

      <div class="col-sm-6 col-md-6">


        <!--<div class="row">-->
          <!--<div class="col-sm-12 text-center">-->
            <!--<a href="#" target="_blank">-->
              <!--<img src="../images/blog.png" class="logo" style="width: 200px;float: left;height:auto; margin-top: -40px; padding: 13px;">-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->

    <div class="row" style="padding: 10px 100px;">

          <h2>Follow below steps to participate</h2>

          <ol>
            <li>Step-1:  Read ‘Trending Femina’</li>
            <li>Step-2: Select Any Of Your Favourite Topic From The ‘Trending Femina’ ’Magazine</li>
            <li>Step-3: Blog About The Topic</li>
            <li>Step-4: Submit Your Blog Link After Registration</li>

          </ol>
        </div>
      </div>
        <!--<div class=" pull-right text-center">-->
            <!---->
                <!--<img src="../images/fbicon.png"   style="width: 100px;height:auto;float: left;  ">-->

        <!--</div>-->
      <div class="col-sm-6 col-md-6" style="padding:0px;">
        <div class="row">
        <div class="col-sm-12">

            <button type="button" onclick="window.location = '/users/list'" class="btn btn-default" style="width: 32%;letter-spacing: 0.3px;">
                <i class="fa fa-rss sub-fa"></i>EXPLORE BLOGGERS</button>

                <button type="button" style=""onclick="window.location = '/users/profile'" class="btn btn-default">
              <i class="fa fa-cog sub-fa"></i>SETTINGS</button>

            <button onclick="logout()" type="button" class="btn btn-default">
                <i class="fa fa-lock sub-fa"></i>SIGN OUT
            </button>


        </div>
        </div>
        <div class="row" style="margin-top: 4px;">
           <div class="col-sm-12 col-md -6">
              <center> <video width="90%" height="300" controls>
                   <source src="../images/LogoFinalEdited.mp4" type="video/mp4">


               </video></center>
            <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E9am3ySQoJ0" style="border:0px;width:90%; height:300px;"></iframe>-->
         <form>
          <!-- <div class="form-group"> -->
          <!--<label for="exampleInputEmail1">Enter URL:</label>-->
          <!-- <input type="text" name="blog_url" class="" id="blog_url" placeholder="" style="" > -->
          <!-- </div> -->

          <% if (locals.messages.info) { %>
            <input type="text" name="blog_url" class="" id="blog_url" placeholder="ENTER YOUR BLOG URL" style="" disabled>
            <button type="button" onclick="submitBlog()" name="submit" class="blog_submit" disabled>Blog already Submitted</button>
            <% } else { %>
              <input type="text" name="blog_url" class="" id="blog_url" placeholder="ENTER YOUR BLOG URL" style="">
              <button type="button" onclick="submitBlog()" name="submit" class="blog_submit">Submit</button>
              <% } %>



        </form>
        </div>
        </div>

      </div>

    </div>
  </div>



          <div id="popDiv" class="ontopSucess">
          </div>
          <div id="popDiverror" class="ontop">
          </div>
  </div>

  <div class="page-footer">
      <div class="page-footer-inner"> Copyright © 2016 Big Bazzer. All rights reserved.</div>
      <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
  </div>
  <!-- Modal -->
  <div class="modal fade success" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="success_icon"><i class="fa fa-check-circle"></i></span>
        </div>
        <div class="modal-body">
          <p>Thanks for your Submission</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade error" id="errorModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="error_icon"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="modal-body">
          <p>Blog was already uploaded.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade wraning" id="wraningModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="wraning_icon"><i class="fa fa-exclamation-triangle"></i></span>
        </div>
        <div class="modal-body">
          <p>Technical Error Please try after some time.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js"></script>
  <script type="text/javascript">
      function logout(){
         $.get( "/users/logout", { })
                  .done(function( data ) {
                    window.location = "/users/login"
                  });
      }

      function submitBlog(){
        var urlVal = document.getElementById("blog_url").value;
        if(validateURL(urlVal)){
            console.log('urlVal:--- ',urlVal);

            $.post( "/users/blogPost", {"blog_url": urlVal})
                    .done(function( data ) {
                      console.log('------------------ ', data);
                      console.log('data:-- ', JSON.stringify(data));
                      if(data.code == 200){
                          var Message = data.message;
                          document.getElementById('popDiv').innerHTML =
                          "Your Blog is uploaded Sucessfully. <a href='' onClick='hide('popDiv')''><i class='fa fa-close f-alert'></i></a>";
                          pop('popDiv');
                          // window.location = "/users/home";
                      }
                      else if(data.code == 100){
                          var errorMessage = data.message;
                          console.log('errorMessage:- ',errorMessage);
                          document.getElementById('popDiverror').innerHTML =
                           "Blog is already uploaded for current round. <a href='' onClick='hide('popDiverror')''><i class='fa fa-close f-alert'></i></a>";
                          pop('popDiverror');
                      }
                      else{
                          var errorMessage = data.message;
                          document.getElementById('popDiverror').innerHTML = "Technical Error. Please try after some time. <a href='' onClick='hide('popDiverror')''><i class='fa fa-close f-alert'></i></a>";
                          pop('popDiverror');
                      }
                    });
        }
      else{
        document.getElementById('popDiverror').innerHTML = "Input Blog Url is not valid. <a href='' onClick='hide('popDiverror')''><i class='fa fa-close f-alert'></i></a>";
        pop('popDiverror');
      }

       }

       function validateURL(textval) {
  var urlregex = new RegExp( "^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
  return urlregex.test(textval);
}
    </script>
</body>

</html>
