<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>fbb Blog Star</title>
        <link rel="shortcut icon" href="<%= mountPath %>/images/favicon.png"/>
        <link href="<%= mountPath %>/stylesheet/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,100" rel="stylesheet" type="text/css"/>
        <link href="<%= mountPath %>/stylesheet/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript">
          function pop(div) {
            document.getElementById(div).style.display = 'block';
            // alert('pop');
          }
          function hide(div) {
            document.getElementById(div).style.display = 'none';
          }
          //To detect escape button
          document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.keyCode == 27) {
              hide('popDiv');
            }
          };
        </script>
    </head>
    <body>
      <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1569759199992980',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));


    function fbShare(){
      console.log('Share clicked');
      FB.ui(
      {
          method: 'feed',
          name: "Celebrate the fbb Blog Star Contest",
          link: 'http://www.fbbindia.in/blogstar/users/list',
          picture: "http://www.fbbindia.in/blogstar/images/blogStar.png",
          caption: "fbb Blog Star Contest",
          description: 'Hi Guys, I am participating in the #BlogStar contest. Click here to read my blog if you like it support me by sharing it! ',
          message: ''
      });
    }



    function shareContent() {
    // body...

    var url = "http://www.fbbindia.in/blogstar/users/list";
    var title = "fbb Blog Star";
    var text = "Hi Guys, I am participating in the #BlogStar contest. Click here to read my blog if you like it support me by sharing it!";
    window.open('http://www.linkedin.com/shareArticle?mini=true&title=" '+title+' "&text="' +text+ '"&url='+encodeURIComponent(url), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');

    }
    </script>
        <div class="blog_header">
            <div class="container">
                <div class="row" style="margin:0px;">
                    <div class="blog-part">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <a href="/blogstar/users/home" target="_blank" class="logo-anchor" title="fbb BlogStart">
                                <img src="<%= mountPath %>/images/Logo1.png"  class="logo-img">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div class="social-icon-fav">
                                <div class="social-fav">
                                    <!-- social Share -->
                                    <i class="fa fa-facebook icon-fav" onclick="fbShare()" title="Facebook"></i>
                                    <a class="icon-fav" target="_blank" href="https://twitter.com/intent/tweet?text=Hi Guys, I am participating in the BlogStar contest. Click here to read my blog if you like it support me by sharing it! http://private.fbbblogstar.in/users/list">
                                        <i class="fa fa-twitter" title="Twitter"></i>
                                    </a>
                                    <i class="fa fa-linkedin icon-fav" onclick="shareContent()" title="LinkedIn"></i>
                                    <!-- End of social Share -->
                                </div>
                                <div class="btn_nav">
                                    <button type="button" onclick="window.location = '<%= mountPath %>/users/list'" class="button-txt">
                                        <i class="fa fa-rss icon-fa" title="ExploreBloggers"></i>
                                        <b class="xs_hideen">EXPLORE BLOGGERS</b>
                                    </button>
                                    <button type="button" onclick="window.location = '<%= mountPath %>/users/profile'" class="button-txt">
                                        <i class="fa fa-cog icon-fa" title="Settings"></i>
                                        <b class="xs_hideen">SETTINGS</b>
                                    </button>
                                    <span class="dropdown"><button type="button" class="dropdown-toggle button-txt" data-toggle="dropdown">
                                      <% if(data.imageUrl) { %>
                                        <image src="<%= data.imageUrl %>" class="profile_name" />
                                        <% }  else {%>
                                          <image src="http://www.fbbindia.in/blogstar/images/profile_user.png" class="profile_name"/>
                                          <% } %>
                                        <b><%= data.name %> </b>
                                        </button>
                                        <ul class="dropdown-menu dp-down">
                                            <li>
                                                <button onclick="logout()" type="button" class="button-txt">
                                                    <i class="fa fa-lock icon-fa" title="SignOut" style="padding: 4px 6px;"></i>
                                                    <b class="s_hideen" style="color: #ffa800;">SIGN OUT</b>
                                                </button>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="opt-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-contant">
                                <center>
                                    <p class="txt-blogsect">Not sure about how to create your first blog?
                                    </p>
                                    <p class="txt_title"> The below video will guide you!</p>
                                    <div class="videosection" style="margin-top: 18px;">
                                        <video width="75%" height="300" controls="">
                                            <source src="<%= mountPath %>/images/LogoFinalEdited.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <!--<p class="txt-blogsect">It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                    </p>-->
                                    <h3 class="title-blogsect">GOT THE NERVE TO BE A DIGITAL CRUSADER</h3>
                                    <ul class="num-blogsect">
                                        <li>
                                            <img src="<%= mountPath %>/images/numone.png" alt="" />
                                            <span>Select any fit from http://boldissexy.in/ ,
                                            Mention the fbb fit name of the denims you are
                                            wearing and style % different looks of yourself
                                            wearing the same denims
                                            </span>
                                        </li>
                                        <li>
                                            <img src="<%= mountPath %>/images/numtwo.png" alt="" />
                                            <span>Top 100 participants receive fbb GIFT
                                            Vouchers and writ on a new Topic. FInal 30 to
                                            be selected by a panel of judges led by
                                            <b>VARAN DHAWAN</b>
                                            </span>
                                        </li>
                                        <li>
                                            <img src="<%= mountPath %>/images/numthree.png" alt="" />
                                            <span>Top 30 WInners to fly down to Mumbai for an
                                            exclusive events as they get awarded the Annual
                                            Contract for Fbb and Entry into the fbb elite club
                                            </span>
                                        </li>
                                    </ul>
                                    <button class="btn-blog" title="Submit Your Blog" data-toggle="modal" data-target="#myModal">SUBMIT YOUR BLOG</button>
                                    <div class="modal fade blog-popup" id="myModal" role="dialog">
                                      <div class="thanku_msg" id="thanku_msg">
                                      </div>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <div class="form-section" id="oldPop">
                                                        <form>
                                                            <h3 class="txt-submit">Submit Your Blog<h3>
                                                            <div class="form-group">
                                                                <input type="text" name="name" id="userName" class="form-control" placeholder="Name" onchange="displayNormal('userName');">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone" onchange="displayNormal('phone');">
                                                            </div>
                                                            <div class="form-group col-md-6 select-dropleft">
                                                              <select class="form-control" id="ageSelect" onchange="displayNormal('ageSelect');">
                                                                <option value="0">Age</option>
                                                                <option value="18-20">18-20</option>
                                                                <option value="21-25">21-25</option>
                                                                <option value="26-30">26-30</option>
                                                                <option value="31-35">31-35</option>
                                                                <option value="36-40">36-40</option>
                                                                <option value="41-45">41-45</option>
                                                                <option value="46-50">46-50</option>
                                                                <option value="51-55">51-55</option>
                                                                <option value="56-60">56-60</option>
                                                                <option value="61-65">61-65</option>
                                                                <option value="66-70">66-70</option>
                                                                <option value="71-75">71-75</option>
                                                                <option value="76-80">76-80</option>
                                                              </select>
                                                              <!--<input type="date" name="date" id="citySelect" class="form-control" placeholder="">-->
                                                            </div>
                                                            <div class="form-group col-md-6 select-dropright">
                                                                    <input type="text" name="city" id="citySelect" class="form-control" placeholder="City" onchange="displayNormal('citySelect');">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="email" id="newEmail" class="form-control" placeholder="E-mail" onchange="displayNormal('newEmail');">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" id="blog_title" name="blog_title" class="form-control" placeholder="Blog Title" onchange="displayNormal('blog_title');">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" id="blog_url" name="blog_url" class="form-control" placeholder="Blog Url" onchange="displayNormal('blog_url');">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" id="blog_desc" name="blog_desc" class="form-control" placeholder="Blog Description" onchange="displayNormal('blog_desc');">
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset">
                                                                        <button type="button" onclick="submitBlog()" class="btn btn-primary" id="submit-form">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div id="thanku_msgPop" class="thanku_txt" style="display:none;">
                                                        <center>
                                                            <h1>Thank You For Submitting The Blog
                                                            </h1>
                                                            <div class="social_links">
                                                                <a href=""><i class="fa fa-facebook icon-facebook" title="Facebook"></i></a>
                                                                <a href=""><i class="fa fa-twitter icon-twitter" title="Twitter"></i></a>
                                                                <a href=""><i class="fa fa-linkedin icon-linkedin" title="LinkedIn"></i></a>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerblog-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p title="Copyright © 2016 fbb Blog Star. All rights reserved.">Copyright © 2016 fbb Blog Star. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="<%=mountPath %>/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            function logout(){

               $.get( "<%= mountPath %>/users/logout", { })
                        .done(function( data ) {
                          window.location = "<%= mountPath %>/users/login"
                        });
            }
                function reload(){
                    window.location.href = '<%= mountPath %>/users/home';
                }
            function submitBlog(){
              var urlVal = document.getElementById("blog_url").value;
              var age = document.getElementById("ageSelect").value;
              var city = document.getElementById("citySelect").value;
              var name= document.getElementById("userName").value;
              var newEmail= document.getElementById("newEmail").value;
              var phone = document.getElementById("phone").value;
              var blog_title = document.getElementById("blog_title").value;
              var blog_desc = document.getElementById("blog_desc").value;
              console.log('urlVal:- ',urlVal, 'age:- ',age, 'city:- ',city, 'name',name, 'newEmail:- ',newEmail, 'phone',phone, 'blog_title',blog_title, 'blog_desc',blog_desc);
              var filter = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
              var phoneNum = phone.replace(/[^\d]/g, '');
              if(validateURL(urlVal) && filter.test(newEmail) && name.length !=0 && phoneNum.length > 6 && phoneNum.length < 11 && city.length !=0 && age !=0 && blog_desc.length !=0 && blog_title.length !=0){
                  $.post( "<%= mountPath %>/users/blogPost", {"blog_url": urlVal, "age": age, "city": city, "Blogusername": name, "email": newEmail, "phone": phone, "blog_title": blog_title, "blog_desc": blog_desc })
                          .done(function( data ) {
                            console.log('------------------ ', data);
                            console.log('data:-- ', JSON.stringify(data));
                            if(data.code == 200){
                                // var Message = data.message;
                                // console.log('output:-------- ',JSON.stringify(data.output));
                                // alert("succes");
                                document.getElementById('oldPop').style.display = 'none';
                                document.getElementById('thanku_msgPop').style.display = 'block';
                                // document.getElementById('thanku_msg').innerHTML = "<p class='succes_msg'>Your Blog is uploaded Sucessfully.<span class='colse_msg' onClick='reload();'><i class='fa fa-close f-alert'></i></span></p>";
                                // document.getElementById("submit_popup").innerHTML =
                                // '<p class="succe_txt">Your Blog is uploaded Sucessfully. <a href="" onClick="hide("submit_popup")"><i class="fa fa-close f-alert"></i></a></p>';
                                //alert('uploaded');
                                //pop('popDiv');
                                // window.location = "/users/home";
                            }
                            else if(data.code == 100){
                                var errorMessage = data.message;
                                console.log('errorMessage:- ',errorMessage);
                                // alert(" Blog is already uploaded Error Code 100");
                                document.getElementById('thanku_msg').innerHTML = "<p class='error_msg'>Blog is already uploaded for current round.<span class='colse_msg' onClick='reload();'><i class='fa fa-close f-alert'></i></span></p>";
                                // document.getElementById("submit_popup").innerHTML =
                                //  '<p class="error-txt">Blog is already uploaded for current round. <a href="" onClick="hide("submit_popup")"><i class="fa fa-close f-alert"></i></a></p>';
                                 //alert('not uploaded');
                                // pop('popDiverror');
                            }
                            else{
                              alert('technical error');
                                var errorMessage = data.message;
                                document.getElementById("submit_popup").innerHTML = '<p class="error-txt">Technical Error. Please try after some time.<a href="" onClick="hide("submit_popup")"><i class="fa fa-close f-alert"></i></a>';
                                // pop('popDiverror');
                            }
                          });
              }
              else if (name.length == 0) {
                // alert('Name cnnot be empty');
                document.getElementById('userName').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Name cannot be empty <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if (!(phoneNum.length > 6 && phoneNum.length < 11)) {
                document.getElementById('phone').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter a valid phone number <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if (age == 0) {
                document.getElementById('ageSelect').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter your age <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if (city.length == 0) {
                document.getElementById('citySelect').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter your city <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if(!filter.test(newEmail)){
                document.getElementById('newEmail').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter a valid Email <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if (blog_title.length == 0) {
                document.getElementById('blog_title').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter your city <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
              else if (blog_desc.length == 0) {
                document.getElementById('blog_desc').style.border = "1px solid red";
                // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Enter your city <a href="" onClick="hide("submit_popup")">&times;</a></p>';
              }
            else{
              document.getElementById('blog_url').style.border = "1px solid red";
              // document.getElementById('submit_popup').innerHTML= '<p class="error-txt">Input Blog Url is not valid. <a href="" onClick="hide("submit_popup")">&times;</a></p>';
            }


             }

             function validateURL(textval) {
        var urlregex = new RegExp( "^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
        return urlregex.test(textval);
      }


  function displayNormal(id){
    var len = document.getElementById(id).value;
    if(len.length){
      document.getElementById(id).style.border = "1px solid #ccc";
    }
  }

          </script>
    </body>
</html>
