<!DOCTYPE html>
<html>
<head>
	<title>Big Bazaar</title>
</head>
<body>
	<div>
		<label>
	       Name<span class="req">*</span>
	    </label>
		<input type="text"required autocomplete="off"/>
	</div>

	<div>
		<label>
	       Email Address<span class="req">*</span>
	    </label>
       	<input type="email"required autocomplete="off"/>
	</div>

	<div>
		<label>
	       Gender<span class="req">*</span>
	    </label>
		<input type="text"required autocomplete="off"/>
	</div>
	
<script type="text/javascript">
	var places = {{title}};
	alert('places:-- ',places);
	alert('data:--- ',title);
</script>
</body>
</html>