<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="When Great Minds Don’t Think Alike" />
  <meta property="og:description"        content="How much does culture influence creative thinking?" />
  <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1569759199992980',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  function fbShare(){
    FB.ui(
  {
    method: 'feed',
    name: "Celebrate the BigBazar Contest",
    link: 'http://104.236.84.1:3000/users/list',
    picture: "https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/1661807_1084200234958089_5071589344451752094_n.jpg?oh=b661f1b5a47531df596611b032f1da48&oe=585B265A",
    caption: "BigBazar Contest",
    description: 'Share a message to show your blogs posted to BiBazar Contest',
    message: 'Hello'
  });
  }
</script>


<form method="post" enctype="multipart/form-data" action="/users/profile/upload">

    <input type="file" name="displayImage">
    <input type="submit" value="Submit">
</form>

<button onclick="fbShare()">Facebook Share</button>

<% if ( locals.messages ) { %>
              <div class="flash"><%= locals.messages.info %></div>
            <% } %>
</body>



</html>

