<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fbb Blog Star</title>
    <link rel="shortcut icon" href="<%= mountPath%>/images/favicon.png" />
    <link rel="stylesheet" href="<%= mountPath%>/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="<%= mountPath%>/stylesheet/newLoginStyle.css">
    <link rel="stylesheet" href="<%= mountPath%>/stylesheet/responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="<%= mountPath%>/images/favicon.png" />
  </head>
  <body>
    <div class="reset_section">
        <div class="container">
      	    <div class="row" style="margin: 0px;">
                <div class="col-sm-5 col-md-4">
                    <div class="reset_Pwd">
                        <h1 class="reset-title">Reset Password</h1>
                        <div id="resetbox">
                            <div class="reset reset-info">
                                <div class="reset-body">
                                    <form class="reset_form" action="<%= mountPath%>/users/reset/<%= user.resetPasswordToken %>"  method="post" onsubmit="return validatePass()">
                                        <div class="input-group" style="margin-bottom: 10px">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input type="text" name="password" id="pass" class="form-control" placeholder="newPassword">
                                        </div>
                                        <div class="input-group" style="margin-bottom: 10px">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input type="text" name="confirmPassword" id="pass1" class="form-control" placeholder="confirmPassword">
                                        </div>
                                        <button type="submit" name="reset" class="btn btn-default btn-block">Reset</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      	    </div>
        </div>
    </div>
  </body>
  <!-- <script src="../../js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
  function validatePass(){
    var pass = document.getElementById('pass').value;
    var pass1 = document.getElementById('pass1').value;
    if(pass.length == pass1.length && pass.length >= 6 ){
      return true;
    }
    else{
      alert('Password should be same and atleast 6 characters long.');
      return false;
    }
  }
  </script>
</html>
