<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BIG BAZAAR</title>
 
</head>
<body  >
     
                              <form method="POST" action="/users/admin/signup">
                                        
                                                    <input type="text" name="name" class="form-control" placeholder="Enter your name">
                                                  
                                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                      <input type="submit"></input>
                                    </form>
                             
                         </form>
                 
  </body>
</html>