<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <title>fbb Blog Star</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://52.35.82.113/dashboard/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= mountPath %>/stylesheet/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= mountPath %>/stylesheet/styleAdminNew.css" rel="stylesheet" type="text/css" />
    <link href="<%= mountPath %>/stylesheet/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= mountPath %>/stylesheet/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="<%= mountPath %>/stylesheet/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="<%= mountPath %>/images/favicon.png" />

    <script src="<%= mountPath %>/js/jquery.min.js" type="text/javascript"></script>
    <style>
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
      }
      .ontop {
        height: auto;
        z-index: 1;
        top: 3px;
        float: right;
        right: 2px;
        opacity: 1;
        color: #fff;
        padding: 20px 15px;
        font-size: 16px;
        display: none;
        position: absolute;
        background-color: red
      }
      .ontopSucess {
        height: auto;
        z-index: 1;
        top: 3px;
        float: right;
        right: 2px;
        opacity: 1;
        color: #fff;
        padding: 20px 15px;
        font-size: 16px;
        display: none;
        position: absolute;
        background-color: green
      }
      #popup {
        width: 300px;
        height: 200px;
        position: absolute;
        color: #000000;
        background-color: #ffffff;
        /* To align popup window at the center of screen*/
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
      }
    </style>
    <script type="text/javascript">
      function pop(div) {
        document.getElementById(div).style.display = 'block';
      }
      function hide(div) {
        document.getElementById(div).style.display = 'none';
      }
      //To detect escape button
      document.onkeydown = function(evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
          hide('popDiv');
        }
      };
    </script>
    </head>
    <!-- END HEAD -->
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <a href="index.html">
                        <img src="<%= mountPath %>/images/Logo1.png" alt="logo" class="logo-default" style="width:100%;height:70px;margin: 15px 0px 0px 0px;" /> </a>
                    <div class="menu-toggler sidebar-toggler"> </div>
                </div>

                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <div class="top-menu">
                    <div class="pull-right">
                        <div class="add-button" style="margin-top: 4px;">
                          <button type="button" onclick="logout()" class="btn btn-default" style="background: transparent; border: transparent;color: #fff;"><i class="fa fa-lock" style="border-radius: 50%;padding: 4px 7px;background: #000;border: 2px solid #fff;"></i>&nbsp;&nbsp;SIGN OUT</button>
                      </div>
                    </div><!--pull-right-->

                </div>
            </div>
        </div>



        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                   <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                   <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-rss"></i>
                                <span class="title">Bloggers</span>
                            </a>
                        </li>
                   </ul>
                </div>
            </div>
            <div id="popDiv" class="ontopSucess">
          </div>
          <div id="popDiverror" class="ontop">
          </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Bloggers</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
		            <div class="col-md-12">
                        <div class="portlet-body">
                          <a href="<% localPath %>/UsersFullData.csv" id="exportButton" download="UsersFullData.csv"><button onclick="exportFullNew();">Export Data</button>
                             <div id="countdown"> </div>

                            <div class="row"  style="margin: 0px;">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-target="#tab_1_1" data-toggle="tab" style="text-transform: uppercase;">All Users</a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_1_2" data-toggle="tab" style="text-transform: uppercase;">Select for Top 100 round</a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_1_3" data-toggle="tab" style="text-transform: uppercase;">Select for Top 50 round</a>
                                    </li>
                                     <li>
                                        <a data-target="#tab_1_4" data-toggle="tab" style="text-transform: uppercase;">Select for Top 3 round</a>
                                    </li>
                                </ul>
                            </div><!--row-->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab_1_1">
                                    <div class="selectcheckbox">
                                            <input type="checkbox" id="checkAll" class="form selectall" />
                                        <label>Select All</label>
                                    </div><!--selectcheckbox-->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Author Name</th>
                                                    <th>Email Id</th>
                                                    <th>Blog UsesName</th>
                                                    <th>Blog Email</th>
                                                    <th>Age</th>
                                                    <th>City</th>
                                                    <th>Round 1 Blog Title</th>
                                                    <th>Round 1 Blog Desc</th>
                                                    <th>Round 1 Blog Url</th>
                                                    <th>Round 2 Blog Title</th>
                                                    <th>Round 2 Blog Desc</th>
                                                    <th>Round 2 Blog Url</th>
                                                    <th>Round 3 Blog Title</th>
                                                    <th>Round 3 Blog Desc</th>
                                                    <th>Round 3 Blog Url</th>
                                                    <th>Facebook Link</th>
                                                    <th>Twitter Link</th>
                                                    <th>Instagram Link</th>
                                                    <th>Youtube Link</th>
                                                    <th>Snapchat Link</th>
                                                    <th>Bio</th>
                                                    <th>Hobbies</th>
                                                    <th>Top 100</th>
                                                    <th>Top 15</th>
                                                    <th>Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody id="top100">
                                               <% for(var i=0; i<blogs.length; i++) {%>
                                                <tr>

                                                   <td><input type="checkbox" class="top100 checkTab" value='<%= blogs[i].user.id %>' > <%= blogs[i].user.name %> </td>

                                                   <td><%= blogs[i].user.email %></td>
                                                   <td><%= blogs[i].user.blogUserName %></td>
                                                   <td><%= blogs[i].user.blogEmail %></td>
                                                   <td><%= blogs[i].user.age %></td>
                                                   <td><%= blogs[i].user.city %></td>
                                                   <td><%= blogs[i].blog_title %></td>
                                                   <td><%= blogs[i].blog_desc %></td>
                                                   <td><%= blogs[i].url %></td>
                                                   <td><%= blogs[i].blog_title1 %></td>
                                                   <td><%= blogs[i].blog_desc1 %></td>
                                                   <td><%= blogs[i].url1 %></td>
                                                   <td><%= blogs[i].blog_title2 %></td>
                                                   <td><%= blogs[i].blog_desc2 %></td>
                                                   <td><%= blogs[i].url2 %></td>
                                                   <td><%= blogs[i].user.faceBook_url %></td>
                                                   <td><%= blogs[i].user.twitter_url %></td>
                                                   <td><%= blogs[i].user.instagram_url %></td>
                                                   <td><%= blogs[i].user.youtube_url %></td>
                                                   <td><%= blogs[i].user.snapchat_url %></td>
                                                   <td><%= blogs[i].user.bio %></td>
                                                   <td><%= blogs[i].user.hobbies %></td>
                                                   <td>
                                                        <% if (blogs[i].user.isUnder100) { %><p>Selected</p>
                                                        <% } else { %> <p>Not Selected</p> <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (blogs[i].user.isUnder15) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                    </td>
                                                    <td>
                                                        <% if (blogs[i].user.isUnder3) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                    </td>
                                                </tr>
                                                 <% } %>

                                            </tbody>
                                        </table>
                                        <div class="nextLevel">
                                            <for
                                            <button class="next_button" onclick="postSelectFor100()">Select For Next Round <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </div><!-- box-body -->
                                    <div class="previewnext">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo; Prev</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">Next &raquo;</span>
                                                    <span class="sr-only">Next</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div><!--previewnext-->
                            </div><!--tab_1_1-->
                            <div class="tab-pane fade" id="tab_1_2">
                                    <div class="selectcheckbox">
                                            <input type="checkbox" id="checkSecond" class="form selectall sndCheck" />
                                        <label>Select All</label>
                                    </div><!--selectcheckbox-->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Author Name</th>
                                                    <th>Email Id</th>
                                                    <th>Blog UsesName</th>
                                                    <th>Blog Email</th>
                                                    <th>Age</th>
                                                    <th>City</th>
                                                    <th>Round 1 Blog Title</th>
                                                    <th>Round 1 Blog Desc</th>
                                                    <th>Round 1 Blog Url</th>
                                                    <th>Round 2 Blog Title</th>
                                                    <th>Round 2 Blog Desc</th>
                                                    <th>Round 2 Blog Url</th>
                                                    <th>Round 3 Blog Title</th>
                                                    <th>Round 3 Blog Desc</th>
                                                    <th>Round 3 Blog Url</th>
                                                    <th>Facebook Link</th>
                                                    <th>Twitter Link</th>
                                                    <th>Instagram Link</th>
                                                    <th>Youtube Link</th>
                                                    <th>Snapchat Link</th>
                                                    <th>Bio</th>
                                                    <th>Hobbies</th>
                                                    <th>Top 100</th>
                                                    <th>Top 15</th>
                                                    <th>Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i<blogs.length; i++) {%>
                                                <% if (blogs[i].user.isUnder100) { %>
                                                 <tr>

                                                        <td><input type="checkbox" class="top15 checksecond" value='<%= blogs[i].user.id %>' > <%= blogs[i].user.name %> </td>
                                                        <td><%= blogs[i].user.email %></td>
                                                        <td><%= blogs[i].user.blogUserName %></td>
                                                        <td><%= blogs[i].user.blogEmail %></td>
                                                        <td><%= blogs[i].user.age %></td>
                                                        <td><%= blogs[i].user.city %></td>
                                                        <td><%= blogs[i].blog_title %></td>
                                                        <td><%= blogs[i].blog_desc %></td>
                                                        <td><%= blogs[i].url %></td>
                                                        <td><%= blogs[i].blog_title1 %></td>
                                                        <td><%= blogs[i].blog_desc1 %></td>
                                                        <td><%= blogs[i].url1 %></td>
                                                        <td><%= blogs[i].blog_title2 %></td>
                                                        <td><%= blogs[i].blog_desc2 %></td>
                                                        <td><%= blogs[i].url2 %></td>
                                                        <td><%= blogs[i].user.faceBook_url %></td>
                                                        <td><%= blogs[i].user.twitter_url %></td>
                                                        <td><%= blogs[i].user.instagram_url %></td>
                                                        <td><%= blogs[i].user.youtube_url %></td>
                                                        <td><%= blogs[i].user.snapchat_url %></td>
                                                        <td><%= blogs[i].user.bio %></td>
                                                        <td><%= blogs[i].user.hobbies %></td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder100) { %><p>Selected</p>
                                                            <% } else { %> <p>Not Selected</p> <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder15) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder3) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                    </tr>
                                                     <% } else { %>  <% } %>

                                                 <% } %>
                                            </tbody>
                                        </table>
                                        <div class="nextLevel">
                                            <button class="next_button" onclick="postSelectFor15()">Select For Next Round <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                        <div class="previewLevel">
                                            <button onclick="unSelectFrom100()" class="preview_button" "><i class="fa fa-chevron-left"></i> Select For Preview Round</button>
                                        </div>
                                    </div>
                                    <div class="previewnext">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo; Prev</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">Next &raquo;</span>
                                                    <span class="sr-only">Next</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab_1_3">
                                   <div class="selectcheckbox">
                                            <input type="checkbox" id="checkThird" class="form selectall" />
                                        <label>Select All</label>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Author Name</th>
                                                    <th>Email Id</th>
                                                    <th>Blog UsesName</th>
                                                    <th>Blog Email</th>
                                                    <th>Age</th>
                                                    <th>City</th>
                                                    <th>Round 1 Blog Title</th>
                                                    <th>Round 1 Blog Desc</th>
                                                    <th>Round 1 Blog Url</th>
                                                    <th>Round 2 Blog Title</th>
                                                    <th>Round 2 Blog Desc</th>
                                                    <th>Round 2 Blog Url</th>
                                                    <th>Round 3 Blog Title</th>
                                                    <th>Round 3 Blog Desc</th>
                                                    <th>Round 3 Blog Url</th>
                                                    <th>Facebook Link</th>
                                                    <th>Twitter Link</th>
                                                    <th>Instagram Link</th>
                                                    <th>Youtube Link</th>
                                                    <th>Snapchat Link</th>
                                                    <th>Bio</th>
                                                    <th>Hobbies</th>
                                                    <th>Top 100</th>
                                                    <th>Top 15</th>
                                                    <th>Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i<blogs.length; i++) {%>
                                                <% if (blogs[i].user.isUnder15) { %>
                                                 <tr>

                                                        <td><input type="checkbox" class="top15 checkthird" value='<%= blogs[i].user.id %>' > <%= blogs[i].user.name %> </td>
                                                        <td><%= blogs[i].user.email %></td>
                                                        <td><%= blogs[i].user.blogUserName %></td>
                                                        <td><%= blogs[i].user.blogEmail %></td>
                                                        <td><%= blogs[i].user.age %></td>
                                                        <td><%= blogs[i].user.city %></td>
                                                        <td><%= blogs[i].blog_title %></td>
                                                        <td><%= blogs[i].blog_desc %></td>
                                                        <td><%= blogs[i].url %></td>
                                                        <td><%= blogs[i].blog_title1 %></td>
                                                        <td><%= blogs[i].blog_desc1 %></td>
                                                        <td><%= blogs[i].url1 %></td>
                                                        <td><%= blogs[i].blog_title2 %></td>
                                                        <td><%= blogs[i].blog_desc2 %></td>
                                                        <td><%= blogs[i].url2 %></td>
                                                        <td><%= blogs[i].user.faceBook_url %></td>
                                                        <td><%= blogs[i].user.twitter_url %></td>
                                                        <td><%= blogs[i].user.instagram_url %></td>
                                                        <td><%= blogs[i].user.youtube_url %></td>
                                                        <td><%= blogs[i].user.snapchat_url %></td>
                                                        <td><%= blogs[i].user.bio %></td>
                                                        <td><%= blogs[i].user.hobbies %></td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder100) { %><p>Selected</p>
                                                            <% } else { %> <p>Not Selected</p> <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder15) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder3) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                    </tr>
                                                     <% } else { %>  <% } %>

                                                 <% } %>
                                            </tbody>
                                        </table>
                                        <div class="nextLevel">
                                            <button class="next_button" onclick="postSelectFor3()">Select For Next Round <i class="fa fa-chevron-right"></i></button>
                                        </div>
                                        <div class="previewLevel">
                                            <button onclick="unSelectFrom15()" class="preview_button" "><i class="fa fa-chevron-left"></i> Select For Preview Round</button>
                                        </div>
                                    </div><!-- box-body -->
                                    <div class="previewnext">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo; Prev</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">Next &raquo;</span>
                                                    <span class="sr-only">Next</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div><!--previewnext-->
                            </div><!--tab_1_3-->

                            <div class="tab-pane fade" id="tab_1_4">
                                  <div class="selectcheckbox">
                                            <input type="checkbox" id="checkFourth" class="form selectall" />
                                        <label>Select All</label>
                                    </div><!--selectcheckbox-->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Author Name</th>
                                                    <th>Email Id</th>
                                                    <th>Blog UsesName</th>
                                                    <th>Blog Email</th>
                                                    <th>Age</th>
                                                    <th>City</th>
                                                    <th>Round 1 Blog Title</th>
                                                    <th>Round 1 Blog Desc</th>
                                                    <th>Round 1 Blog Url</th>
                                                    <th>Round 2 Blog Title</th>
                                                    <th>Round 2 Blog Desc</th>
                                                    <th>Round 2 Blog Url</th>
                                                    <th>Round 3 Blog Title</th>
                                                    <th>Round 3 Blog Desc</th>
                                                    <th>Round 3 Blog Url</th>
                                                    <th>Facebook Link</th>
                                                    <th>Twitter Link</th>
                                                    <th>Instagram Link</th>
                                                    <th>Youtube Link</th>
                                                    <th>Snapchat Link</th>
                                                    <th>Bio</th>
                                                    <th>Hobbies</th>
                                                    <th>Top 100</th>
                                                    <th>Top 15</th>
                                                    <th>Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 <% for(var i=0; i<blogs.length; i++) {%>
                                                <% if (blogs[i].user.isUnder3) { %>
                                                 <tr>

                                                        <td><input type="checkbox" class="winners checkfourth" value='<%= blogs[i].user.id %>' > <%= blogs[i].user.name %> </td>
                                                        <td><%= blogs[i].user.email %></td>
                                                        <th>Blog UsesName</th>
                                                        <th>Blog Email</th>
                                                        <th>Age</th>
                                                        <th>City</th>
                                                        <td><%= blogs[i].blog_title %></td>
                                                        <td><%= blogs[i].blog_desc %></td>
                                                        <td><%= blogs[i].url %></td>
                                                        <td><%= blogs[i].blog_title1 %></td>
                                                        <td><%= blogs[i].blog_desc1 %></td>
                                                        <td><%= blogs[i].url1 %></td>
                                                        <td><%= blogs[i].blog_title2 %></td>
                                                        <td><%= blogs[i].blog_desc2 %></td>
                                                        <td><%= blogs[i].url2 %></td>
                                                        <td><%= blogs[i].user.faceBook_url %></td>
                                                        <td><%= blogs[i].user.twitter_url %></td>
                                                        <td><%= blogs[i].user.instagram_url %></td>
                                                        <td><%= blogs[i].user.youtube_url %></td>
                                                        <td><%= blogs[i].user.snapchat_url %></td>
                                                        <td><%= blogs[i].user.bio %></td>
                                                        <td><%= blogs[i].user.hobbies %></td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder100) { %><p>Selected</p>
                                                            <% } else { %> <p>Not Selected</p> <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder15) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                        <td>
                                                            <% if (blogs[i].user.isUnder3) { %><p>Selected</p><% } else { %><p>Not Selected</p><% } %>
                                                        </td>
                                                    </tr>
                                                     <% } else { %>  <% } %>

                                                 <% } %>
                                            </tbody>
                                        </table>
                                        <div class="previewLevel">
                                            <button onclick="unSelectFrom3()" class="preview_button" "><i class="fa fa-chevron-left"></i> Change Winners</button>
                                        </div>
                                    </div><!-- box-body -->
                                    <div class="previewnext">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo; Prev</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">Next &raquo;</span>
                                                    <span class="sr-only">Next</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div><!--previewnext-->
                            </div><!--tab_1_4-->

                        </div><!--tab-content-->
                    </div>
                </div></div>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner"> Copyright © 2016 fbb Blog Star. All rights reserved.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>

    <script src="<%= mountPath %>/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= mountPath %>/js/app.min.js" type="text/javascript"></script>
    <script src="<%= mountPath %>/js/layout.min.js" type="text/javascript"></script>
    <script src="<%= mountPath %>/js/demo.min.js" type="text/javascript"></script>
   <script type="text/javascript">
       $("#checkAll").change(function () {
           $(":checkbox.checkTab").prop('checked', $(this).prop("checked"));
        });
        $("#checkSecond").change(function () {
           $(":checkbox.checksecond").prop('checked', $(this).prop("checked"));
        });
        $("#checkThird").change(function () {
           $(":checkbox.checkthird").prop('checked', $(this).prop("checked"));
        });
        $("#checkFourth").change(function () {
           $(":checkbox.checkfourth").prop('checked', $(this).prop("checked"));
        });
       function postSelectFor100(){
            var values = $('input:checkbox:checked.top100').map(function () {
              return this.value;
            }).get();
            if(values.length){
                $.post( "<%= localPath %>/admin/select-for-100", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                    console.log('data:_-- ',JSON.stringify(data));
                        document.getElementById('popDiv').innerHTML =
                          "Selected Users are sucessfully moved to next round. <a href='' onClick='hide('popDiv')''>Close</a>";
                        pop('popDiv');

                    }
                    else{
                        document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }

       function unSelectFrom100(){
            var values = $('input:checkbox:checked.top15').map(function () {
              return this.value;
            }).get();
            if(values.length){
                $.post( "<%= mountPath %>/admin/unselect-for-100", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                        document.getElementById('popDiv').innerHTML =
                        "Selected Users are sucessfully re-moved from this round. <a href='' onclick='hide('popDiv')' >Close</a>";
                        pop('popDiv');
                    }
                    else{
                         document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }

       function postSelectFor15(){
            var values = $('input:checkbox:checked.top15').map(function () {
              return this.value;
            }).get();
            console.log('values:------- ', values);
            if(values.length){
                console.log('values:- ',values);
                $.post( "<%= mountPath %>/admin/select-for-15", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                        document.getElementById('popDiv').innerHTML =
                        "Selected Users are sucessfully moved to next round. <a href='' onclick='hide('popDiv')' >Close</a>";
                        pop('popDiv');
                    }
                    else{
                         document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }

       function unSelectFrom15(){
            var values = $('input:checkbox:checked.top15').map(function () {
              return this.value;
            }).get();
            console.log('values:---- ', values);
            if(values.length){
                console.log('values to unSelectFrom15:-- ',values);
                $.post( "<%= mountPath %>/admin/unselect-for-15", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                        document.getElementById('popDiv').innerHTML =
                        "Selected Users are sucessfully re-moved from this round. <a href='' onclick='hide('popDiv')' >Close</a>";
                        pop('popDiv');
                    }
                    else{
                        document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }

       function postSelectFor3(){
            var values = $('input:checkbox:checked.top15').map(function () {
              return this.value;
            }).get();
            if(values.length){
                $.post( "<%= mountPath %>/admin/select-for-3", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                       document.getElementById('popDiv').innerHTML =
                        "Selected Users are sucessfully moved to next round. <a href='' onclick='hide('popDiv')' >Close</a>";
                        pop('popDiv');
                    }
                    else{
                        document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }

       function unSelectFrom3(){
            var values = $('input:checkbox:checked.winners').map(function () {
              return this.value;
            }).get();
            if(values.length){

                $.post( "<%= mountPath %>/admin/unselect-for-3", {"userIds": JSON.stringify(values)})
                  .done(function( data ) {
                    if(data.code == 200){
                        document.getElementById('popDiv').innerHTML =
                        "Selected Users are sucessfully re-moved from this round. <a href='' onclick='hide('popDiv')' >Close</a>";
                        pop('popDiv');
                    }
                    else{
                        document.getElementById('popDiverror').innerHTML =
                          "Technical Error Please try after some time. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
                    }
                  });
            }else{
                document.getElementById('popDiverror').innerHTML =
                          "Please select atleast one user. <a href='' onclick='hide('popDiverror')'>Close</a> ";
                        pop('popDiverror');
            }
       }


       function logout(){
        $.get( "<%= localPath %>/admin/logout", { })
                  .done(function( data ) {
                    window.location = "<%= localPath %>/admin/login"
                  });
       }

       function exportFull(){
         $.get( "/admin/export", { })
                   .done(function( data ) {
                     window.location = "<%= localPath %>/admin/login"
                });
       }

       function exportFullNew() {
            $.get( "<%= localPath %>/admin/export", { })
                      .done(function( data ) {
                        window.location = "<%= localPath %>/admin/login"
                   });
      }

   </script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-53642455-1', 'auto');
 ga('send', 'pageview');

</script>
    </body>
</html>
