<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>fbb Blog Star</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="<%= mountPath %>/stylesheet/styleAdminNew.css" rel="stylesheet" type="text/css" />
        <link href="<%= mountPath %>/stylesheet/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<%= mountPath %>/stylesheet/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="<%= mountPath %>/images/favicon.png" />
    </head>
<body  class="hold-transition skin-blue sidebar-mini" style="background: url(<%= mountPath %>/images/bg-banner.png);background-size: 100% 100%;background-repeat: no-repeat;">
      <div class="login-wrapper">
          <div class="loginform">
              <div class="loginsection">
                      <div class="form-body">
                          <div class="logoinimg">
                              <a class="login-title"><img src="<%= mountPath %>/images/Logo1.png"></a>
                          </div><!--logoinimg-->
                          <form method="post" action="<%= localPath %>/admin/signup">
                               <div class="group-form">
                                    <div class="form-group">
                                         <div class="input-group">
                                              <span class="input-group-addon" style="border-radius: 0;"><i class="fa fa-user"></i></span>
                                            <input type="text" name="name" class="form-control" placeholder="User Name" style="border-radius: 0;">
                                         </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="border-radius: 0;"><i class="fa fa-envelope-o"></i></span>
                                            <input type="text" name="email" class="form-control" placeholder="Email Address" style="border-radius: 0;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="input-group">
                                              <span class="input-group-addon" style="border-radius: 0;"><i class="fa fa-key"></i></span>
                                            <input type="password" name="password" class="form-control" placeholder="New Password" style="border-radius: 0;">
                                         </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="input-group">
                                              <span class="input-group-addon" style="border-radius: 0;"><i class="fa fa-key"></i></span>
                                            <input type="password" name="confirmPassword" class="form-control" placeholder="Re-enter Password" style="border-radius: 0;">
                                         </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="sign_in btn ">Sign Up</button>
                                    </div>
                            </div>
                       </form><!--form-->
                    </div><!--form-body-->
                </div><!--loginsection-->
            </div><!--loginform-->
        </div><!--login-wrapper-->
        <script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-53642455-1', 'auto');
 ga('send', 'pageview');

</script>
    </body>
</html>
